header{
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.nav-left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    align-items: center;
}
body{
    width: 80%;
    margin: auto;
}
#meals-item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5%;
}
.meal-thubnail-title{
    border-radius: 1em;
    width: 100%;
    background-color: #f3f3f3bb;
}
.meal-thubnail-title img{
    border-radius: 1em;
    width: 100%;
}
.meal-thubnail-title h5{
    text-align: center;
}
#meals-info{
    width: 60%;
    margin: auto;
}
.meal-details{
    height: 780px;
    border-radius: 1em;
}
.meal-details img{
    height: 50%;
    width: 100%;
    border-radius: 1em;
}
span{
    background-color: #fbff00;
    font-size: 14px;
}
.meal-thubnail-title:hover{
    background-color: #ff6868be;
}